     body {
        font-family: 'Montserrat', sans-serif; 
        font-size: 14px;
        margin: 0;
        min-height: 180px;
        padding: 0;
        width: 384px;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        color: #FFF;
    }

    a:link, a:visited {
        color: black;
        outline: 0;
        text-decoration: none;
    }

    img {
        width: 20px;
    }

    .modal-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #11224D;
        padding: 0;
    }

    .modal-content {
        align-items: center;
    }

    .modal-icons {
        border-top: 0.5px solid #dadada;
        height: 50px;
        width: 100%;
    }
     .logo {
         padding: 16px;
     }

     .logo-icon {
         vertical-align: text-bottom;
         margin-right: 12px;
     }

     .version {
         color: #444;
         font-size: 18px;
     }

     .flex {
         opacity: 1;
         transition: opacity 0.2s ease-in-out;
         width: 120px;
     }

     .flex:hover {
         opacity: 0.4;
     }

     .button {
         display: flex;
         flex-direction: column;
         margin: 15px;
         padding: 10px;
     }

     .settings_page {
         display: block;
         padding: 10px;
         background-color: #11224D;
         color: white;
         width: 385px;
         /* height: 200px; */
     }

     .custom_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex: 1;
        padding: 15px;
    }
    .custom_column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .info {
        width: 150px;
    }
    
    .form-check {
        margin-left: 10px;
    }